# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.moved-aside

# User-specific Xcode files
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store